@font-face {
    font-family: 'ToyotaType-Book';
    src: url('ToyotaType-Book.woff2') format('woff2'),
        url('ToyotaType-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}