@font-face {
  font-family: 'ToyotaTypeLight';
  src: url('https://cdn.jsdelivr.net/gh/Maying-tcha/toyota-font@main/ToyotaType-Light.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/Maying-tcha/toyota-font@main/ToyotaType-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
